{% extends '@layout/default.html.twig' %}

{% block title %}
    Speaker Profile: {{ speaker.get('name') }}
{% endblock %}

{% block description %}
    The speaker profile for {{ speaker.get('name') }} at {{ site.get('name') }}
{% endblock %}

{% block content %}
    {% if speaker.has('talks') %}
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {% block speaker %}
                    {{ speaker.get('html') | raw }}

                    {% if speaker.has('twitter') %}
                        <p><i class="fa fa-twitter"></i> <a href="https://twitter.com/{{ speaker.get('twitter') }}">@{{ speaker.get('twitter') }}</a></p>
                    {% endif %}

                    {% if speaker.has('github') %}
                        <p><i class="fa fa-github"></i> <a href="https://github.com/{{ speaker.get('github') }}">{{ speaker.get('github') }}</a></p>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Talks</h3>

                {% for talk in speaker.get('talks') %}
                    <hr />

                    <h4>{{ talk.get('title') }}</h4>
                    <p>
                        <i>
                            At
                            <a href="{{ path('event', { id: talk.get('event').getId() }) }}">
                                {{ talk.get('event').get('title') }}
                            </a>
                        </i>
                    </p>

                    {{ talk.get('html') | raw }}

                    {% if talk.has('joind.in') %}
                        <p><i class="fa fa-commenting"></i> <a href="{{ talk.get('joind.in') }}">Leave feedback on joind.in</a></p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        {{ speaker.get('html') | raw }}
    {% endif %}
{% endblock %}
