<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>{{ block('title') | trim }}</title>
        {% if block('description') is not empty %}<meta name="description" content="{{ block('description') | trim }}" />{% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css" />
    </head>
    <body>
        {% if site is defined %}
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-links" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="/">{{ site.get('name') }}</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navigation-links">
                        <ul class="nav navbar-nav">
                            {% for navigationLink, navigationLabel in site.get('navigation') %}
                                <li><a href="{{ navigationLink }}">{{ navigationLabel }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
    </body>
</html>
